@using HealthyTreats.Core.Entities
@model Recipe
@{
    var categories = ViewBag.Categories as List<Category>; // Оновлено для відображення списку категорій
   
}

<h1>New recipe</h1>

<form asp-action="Create" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @Html.DisplayNameFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        @Html.DisplayNameFor(model => model.Instructons)
        @Html.TextBoxFor(model => model.Instructons, new { @class = "form-control" })
        <span asp-validation-for="Instructons" class="text-danger"></span>
    </div>

    <!--**************** -->
   
    
    <!-- ***************** -->
    
    <ul id="ingredientList"></ul>

    <div class="form-group mt-3">
        @Html.DisplayNameFor(model => model.ImageFile)
        <input asp-for="ImageFile" accept="image/*" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <!-- --------------- -->
    <div class="mb-3">
        <label asp-for="Ingredients">Ingredient</label>
        <div id="ingredientContainer">
            <div class="ingredient">
                <input type="text" name="Ingredients[0].Title" placeholder="Name ingredient">
                <input type="number" name="Ingredients[0].Quantity" placeholder="Number">
                <input type="text" name="Ingredients[0].Unit" placeholder="Unit">
            </div>
        </div>
        <button type="button" id="addIngredientBtn" class="btn btn-primary">Add ingredient</button>

        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>

    


    <!-- Список чекбоксів категорій -->
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="DairyFree" value="1">
            <label class="form-check-label" for="DairyFree">
                Dairy free
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Vegan" value="2">
            <label class="form-check-label" for="Vegan">
                Vegan
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Vegetarian" value="3">
            <label class="form-check-label" for="Vegetarian">
                Vegetarian
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="GlutenFree" value="4">
            <label class="form-check-label" for="GlutenFree">
                Gluten free
            </label>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
        var ingredientCount = 1; // Лічильник для унікальних індексів полів

        document.getElementById("addIngredientBtn").addEventListener("click", function() {
            var container = document.getElementById("ingredientContainer");
            var newIngredient = document.createElement("div");
            newIngredient.classList.add("ingredient");
            newIngredient.innerHTML = `
            <input type="text" name="Ingredients[${ingredientCount}].Title" placeholder="Name ingredient">
    <input type="number" name="Ingredients[${ingredientCount}].Quantity" placeholder="Number">
            <input type="text" name="Ingredients[${ingredientCount}].Unit" placeholder="Unit">
        `;
        container.appendChild(newIngredient);
        ingredientCount++;
    });
    </script>
}