@model HealthyTreats.Core.Entities.Recipe

<h2>@Model.Name</h2>
<h5>Description: </h5>
<p>@Model.Description</p>
<h5>Instruction: </h5>
<p>@Model.Instructons</p>
<img src="~/@Model.ImagePath" alt="Recipe Image">

@if (Model.Categories.Any())
{
    <p>Category: @Model.Categories.First().TitleCategory</p>
}

<h5>Ingredients:</h5>
<ul>
    @if (Model.Ingredients.Any())
    {
        @foreach (var ingredient in Model.Ingredients)
        {
            <li><a href="@Url.Action("IngredientDetails", "Recipes", new { id = ingredient.Id })">@ingredient.Title</a></li>

        }
    }
    else
    {
        <li>No ingredients available</li>
    }
</ul>

<h5>Categories:</h5>
<ul>
    <li>Dairy free</li>
    <li>Vegan</li>
</ul>
