@using HealthyTreats.Core.Entities
@model HealthyTreats.Core.Entities.Recipe

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>@Model.Instructons</p>
<img src="~/@Model.ImagePath" alt="Recipe Image">

@if (Model.Categories.Any())
{
    <p>Category: @Model.Categories.First().TitleCategory</p> 
}

<h3>Ingredients:</h3>
 <ul>
@if (Model.Ingredients.Any())
{
    @foreach (var ingredient in Model.Ingredients)
    {
     <li><a href="@Url.Action("IngredientDetails", "Recipes")">@ingredient.Title</a></li>

    }
}
else
{
             <li>No ingredients available</li>
}
 </ul>


